@model IEnumerable<SHIVAM_ECommerce.Models.OrderItems>

@{
    Layout = null;
    var _CurrentUser = Session["CurrentUserContext"] as SHIVAM_ECommerce.ViewModels.CurrentUserContext;
    var attribute = ViewBag.ColumnsData;
    var attributesDetails = ViewBag.Attributes;

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(attributesDetails);
    var model = Model as IEnumerable<SHIVAM_ECommerce.Models.OrderItems>;
    var productattributeid = model.Select(x => new { Id = x.Productattrid }).ToList();
    var result = serializer.Serialize(productattributeid);
    var supplierid = Session["SuppliersId"];
   
}

<table border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>#</th>
            <th class="text-left">DESCRIPTION</th>
            <th class="text-right">Unit Price</th>
            <th class="text-right">Quanity</th>
            <th class="text-right">TOTAL</th>
        </tr>
    </thead>
    <tbody>

        @{int counter = 1;}
@foreach (var item in Model)
{  
        <tr>   
            <td class="no">@counter</td>
            <td class="text-left"><h3>@Html.DisplayFor(modelItem => item.ProductAttributeWithQuantity.Product.ProductName)</h3><p id="@item.Productattrid"></p></td>
            <td class="unit">₹ @Html.DisplayFor(modelItem => item.UnitPrice)</td>
            <td class="qty">@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td class="total"> ₹ @Html.DisplayFor(modelItem => item.TotalPrice) </td>
            
        </tr>
      counter++;
     }
        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td colspan="2">SUBTOTAL</td>
            <td>₹ @Model.Sum(i => i.TotalPrice)</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="2">TAX 0%</td>
            <td>₹ 00.00</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="2">GRAND TOTAL</td>
            <td>₹ @Model.Sum(i => i.TotalPrice)</td>
        </tr>
    </tfoot>
</table>



<script>
    $(document).ready(function () {
        debugger;
  
        var Attributess = '@Html.Raw(jsonModel)';
        var Attributes= JSON.parse(Attributess);
        var results = '@Html.Raw(result)';
        var result = JSON.parse(results);
            
        for (var i = 0; i < result.length; i++) {
            debugger;
            var html = "";
            for (var k = 0; k < Attributes.length; k++) {
                if (result[i].Id == Attributes[k].Id) {
                  
                    html += Attributes[k].AttributeName + " " + "(" + Attributes[k].AttributeValue + ")" + ",";
               
                }
                $("#" + result[i].Id + "").html(html);
            }


        }
    })

</script>




