@model  SHIVAM_ECommerce.ViewModels.SupplierVM
@{
    ViewBag.Title = "Create New Account";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    var allplans = ViewBag.allplans as List<SHIVAM_ECommerce.Models.Plans>;
}

<style>
    .modal-dialog {
        max-width: 1000px;
    }

    .suc {
        cursor: pointer;
    }

    .star {
        color: #fa5d5d;
    }

    .modal-body .row {
        margin-left: 0;
        margin-right: 0;
    }

    .modal-body .card {
        padding: 0;
        margin-right: 10px;
    }

    .display-3 {
        font-size: 18px;
    }

    .modal-footer {
        background-color: #eeeaea;
    }

    .modal-body .card-body {
        padding-bottom: 15px;
    }

    .modal-body .card-header {
        background: #5c4ac7;
        color: #fff;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
    }



    .btn-green {
        background-color: #5c4ac7;
    }

    #PlanName {
        color: white;
    }

    .choosePlan {
        color: white;
    }

    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        margin-right: 10px;
        position: relative;
        z-index: 2;
    }

    .container {
        padding-top: 50px;
        margin: auto;
    }

    .features {
        font-size: 12px;
    }
</style>
<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Your Plan</h4>

                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">


                <div class="row">
                    @foreach (var items in allplans)
                    {
                        <div class="col-sm-6 col-lg-3 card">
                            <a class="suc choosePlan" data-plan="@items.PlanName"btnname=" @items.Id " value="chooseplan">
                                <div class="card-header bg-indigo">
                                    <div class="card-category getname_@items.Id"><i class="fa fa-ship"></i> @items.PlanName</div>
                                </div>

                                <div>
                                    <input type="hidden" class="getid_@items.Id" value="@items.Id" />
                                    <div id="plans_@items.Id" class="status"></div>
                                    <div class="card-body text-center">
                                        <br />
                                        <h6><b><i class="fa fa-cube" aria-hidden="true"></i> @items.ProductBucketCount Products</b></h6>
                                        <h6><b><i class="fa fa-user" aria-hidden="true"></i> @items.UserBucketCount Users</b></h6>

                                        <ul class="list-unstyled leading-loose">
                                            <li><h6> <b><i class="fa fa-flash"></i> Features</b></h6></li>

                                            @foreach (var item1 in items.Features)
                                            {
                                                <li><h6 class="features">@item1.Feature.Title</h6></li>
                                            }



                                        </ul>
                                        <hr />
                                        <p><b>Monthly Price :</b> <i class="fa fa-inr"></i> @items.TotalMonthlyPrice</p>
                                        <p><b>Yearly Price :</b> <i class="fa fa-inr"></i> @items.TotalYearlyPrice</p>
                                        <div class="text-center mt-6">

                                        </div>
                                    </div>


                                </div>
                            </a>

                            <div class="card-footer">
                                <button type="button" class="btn btn-primary btn-block choosePlan" data-plan="@items.PlanName" btnname=" @items.Id "><i class='fa fa-check'> Choose Plan</i> </button>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>

    </div>
</div>

<div class="unix-login" style=" margin-top: -80px;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="login-content card">
                    <div class="login-form" style="padding-top:0px">
                        <div class="row">

                            <div class="col-md-12 text-center">
                                <img src="~/Content/Logo.png" class="img-circle img-thumbnail" height="50" width="50" />

                            </div>
                        </div>
                        <h4 style="margin-bottom: 0px; margin-top: 10px;">Create new account</h4>
                        <br />
                        @using (Html.BeginForm("CreateNew", "Supplier", FormMethod.Post, new { @id = "SupplierForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="card-body p-6">
                                <div class="form-group">
                                    <label class="form-label">First Name<span class="star">*</span></label>
                                    @Html.HiddenFor(model => model.PlanID, new { @class = "" })
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control requiredfield" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Last Name<span class="star">*</span></label>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Company / Shop Name<span class="star">*</span></label>
                                    @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control requiredfield" })
                                    @Html.ValidationMessageFor(model => model.CompanyName)
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Email address<span class="star">*</span></label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control  UniqueEmailvalid" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>

                                <div class="form-group">
                                    <label class="form-label">User Name<span class="star">*</span></label>
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control minUserNameLength UniqueUserName" })
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Password<span class="star">*</span></label>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control minPasswordLength" })
                                    <span toggle="#Password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Phone Number<span class="star">*</span></label>
                                    @Html.TextBoxFor(model => model.phone, new { @class = "form-control Phonenumber" })
                                    @Html.ValidationMessageFor(model => model.phone)
                                </div>
                                @*<div class="form-group">
                                        <label class="form-label">Address</label>
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Address)

                                    </div>*@

                                <div class="form-group">
                                    <label class="form-label">Choose Plan <span class="star">*</span></label>
                                    <span></span>
                                    <a href="#" data-toggle="modal" class="btn btn-green" data-target="#myModal" id="PlanName"><i class="fa fa-handshake-o"></i> Select Plan</a>

                                </div>

                                <div class="form-footer">
                                    <button type="submit" id="createNewAccount" disabled class="btn btn-primary btn-block"><i class="fa fa-user"></i> Create new account</button>
                                </div>
                            </div>
                        }
                        <br />
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account? <a href="/Account/login">Sign in</a></p>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $("#PlanID").change(function () {
            if ($.trim($(this).val()) != "") {
                $("#createNewAccount").removeAttr("disabled");
            }
            else {
                $("#createNewAccount").attr("disabled", "disabled");
            }
        });

        $("#createNewAccount").click(function () {
            if ($("#SupplierForm").valid()) {
                $("#createNewAccount").attr("disabled", "disabled")
                $("#createNewAccount").find("i").addClass("fa-spin");
                $("#SupplierForm").submit();
            }
        });


        $(".choosePlan").click(function () {
            debugger;
            toastr.success("successfully selected");

            var a = $(this).attr("data-plan");
            $("#PlanName").html('<i class="fa fa-check"></i> ' + a);

            $("#PlanID").val($(this).attr("btnname"));
            $("#PlanID").trigger("change");
            $(".close").trigger("click");


        })

        $.validator.addMethod("UniqueEmailvalid", function (value, element) {

            return /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i.test(value);
        }, "Please Enter Valid Email.");


        $.validator.addMethod('UniqueEmail', function (value) {

            if ($.trim(value) != "") {

                return CheckUniqueEmail(value);
            }
            else {
                return true;
            }

        }, "Please eneter a unique Email ! It's already Exist");
        $.validator.addMethod('UniqueUserName', function (value) {


            if ($.trim(value) != "") {
                return CheckUniqueUserName(value);
            }
            else {
                return true;
            }

        }, "Please enter a unique username value");
        $.validator.addMethod('minPasswordLength', function (value) {


            if ($.trim(value) != "") {
                return value.length >= 7 ? true : false;
            }
            else {
                return true;
            }

        }, "Please enter at least 7 characters for password");
        $.validator.addMethod('minUserNameLength', function (value) {


            if ($.trim(value) != "") {
                return value.length >= 8 ? true : false;
            }
            else {
                return true;
            }

        }, "Please enter at least 8 characters for username");

        $.validator.addMethod("Phonenumber", function (phone_number, element) {
            phone_number = phone_number.replace(/\s+/g, "");
            return this.optional(element) || phone_number.length > 9 &&
            phone_number.match(/^(\+?1-?)?(\([2-9]\d{2}\)|[0-9]\d{2})-?[0-9]\d{2}-?\d{4}$/);
        }, "Please specify a valid phone number");

        //$.validator.addMethod('Phonenumber', function (value) {
        //    if ($.trim(value) != "") {
        //        return value.length >= 10 ? true : false;
        //    }
        //    else {
        //        return true;
        //    }
        //    },"Phone number Should be 10 Digit");

        function CheckUniqueEmail(value) {
            var _x = true;
            $.ajax({
                url: "/Supplier/UniqueEmail",
                data: JSON.stringify({ Email: value }),
                type: 'POST',
                async: false,
                contentType: 'application/json',
                dataType: 'json',
                success: function (result) {
                    _x = !result.IsAlreadyExist;
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });

            return _x;
        }
        function CheckUniqueUserName(value) {
            var _x = true;
            $.ajax({
                url: "/Supplier/UniqueUserName",
                data: JSON.stringify({ UserName: value }),
                type: 'POST',
                async: false,
                contentType: 'application/json',
                dataType: 'json',
                success: function (result) {
                    _x = !result.IsAlreadyExist;
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });

            return _x;
        }


        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
}