
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}



<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center">

                    </div>
                    <div class="card">
                        <div class="card-body p-6">
                            <div class="card-title">Enter Your Email Address</div>
                            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label class="form-label">Email </label>                                    
                                    <div>
                                        <input class="form-control valid" data-val="true" data-val-required="The Email field is required." data-val-email="Invalid Email Address" id="email" name="email" type="text" value="">
                                        <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                                    </div>
                                </div>                               

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Get Reset Link</button>
                                </div>

                            }                           
                        </div>
                    </div>
                    <div class="text-center text-muted">
                        @ViewBag.message
                    </div>
                    <div class="text-center text-muted">
                        Don't have account yet? @Html.ActionLink("Register", "Register")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")  

}