@model IEnumerable<SHIVAM_ECommerce.Models.AllProductImages>

@{
    ViewBag.Title = "Index";
    var _CurrentUser = Session["CurrentUserContext"] as SHIVAM_ECommerce.ViewModels.CurrentUserContext;
    var _suppliers = ViewBag.Suppliers as List<SHIVAM_ECommerce.Models.Supplier>;
    //var supplier = TempData["SelectedSupplier"] as SHIVAM_ECommerce.Models.Supplier;
    var supplier = Session["SelectedSupplier"] as SHIVAM_ECommerce.Models.Supplier;
}

<style>
    .card.p-3 img {
       
        max-width:200px;
        max-height:200px;
    }

    .card.p-3 {
        height: 100%;
        margin-top: 0;
        padding-bottom: 0 !important;
    }

    .col-sm-6.col-lg-3
    {
        margin-bottom:60px;
    }

    .d-flex.align-items-center {
        width: 100%;
        background: #fff;
        border: 1px solid #f5f5f5;
        padding-top: 12px;
    }
</style>


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">All Images</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item active">All Images</li>
        </ol>
    </div>
</div>
<div class="container-fluid" ng-app="myApp" ng-controller="myCtrl">

    <div class="card">
        <div class="card-body">
            @if (_CurrentUser.SupplierID == -1)
            {
                @*<div class="card-header">*@
                     <div><p style="position: absolute; left: 537px; top: 3px;">Select Supplier From Below Dropdown</p></div>
                      
                    @*<div class="card-options">*@
                        <form action="/AllImages/Index" id="UploadgetImageForm" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="form-control" style=" position: absolute; left: 450px; " id="SupplierData1" name="SupplierData1">
                                        <option value="">---Select Supplier---</option>
                                        @foreach (var _item in _suppliers)
                                        {
                                            if (supplier != null)
                                            { 
                                                 if (_item.Id == supplier.Id)
                                            {
                                                <option selected value="@_item.Id">@_item.FirstName  @_item.LastName  (@_item.User_Name)</option>
                                            }
                                            else
                                            { 
                                                <option value="@_item.Id">@_item.FirstName  @_item.LastName  (@_item.User_Name)</option>
                                            }
                                            }
                                            else
                                            { 
                                                <option value="@_item.Id">@_item.FirstName  @_item.LastName  (@_item.User_Name)</option>
                                            }  
                                        }
                                    </select>
                                    @*<input type="text" class="form-control" style="position: absolute;top:10px;z-index:10;" name="name" id="SupplierAuto" placeholder="Search By Supplier" />*@
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary hidden" type="submit" id="getImages" value="Get Images">
                                        <i class="fa fa-upload"></i>
                                        Get Images
                                    </button>
           

                                </div>
                                <div class="col-md-4">
                                    @*@if (supplier != null)
                                    { 
                                     <h3 class="card-title"> <i class="fe fe-box"></i>Selected Supplier : @supplier.FirstName @supplier.LastName</h3>
                                    }*@
                                   
                                </div>
                            </div>                           
                        </form>
                        <div class="row">
                        </div>
                    @*</div>*@
                @*</div>*@
                 
            }
          
               
                @*<div class="card-header">*@
                    <h3 class="card-title"> <i class="fe fe-box"></i>Upload Images</h3>
                    @*<div class="card-options">*@
                        <form action="/AllImages/UploadImage" id="UploadImageForm" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="custom-file">
                                        <input type="file" multiple class="custom-file-input" name="files" id="file1" accept="image/*">
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary" type="submit" id="uploadImages" value="Upload" disabled>
                                        <i class="fa fa-upload"></i>
                                        Upload
                                    </button>
                                    @*<a href="/Product/GetAllProducts" class="btn btn-primary"> <i class="fa fa-arrow-left"></i> Back to List </a>*@
                                    <button type="button" class="btn btn-danger" id="delete"> <i class="fa fa-trash"></i> Delete </button>
                                </div>
                            </div>
                            <div class="gallery"></div>
                        </form>
                        <div class="row">

                        </div>
                    @*</div>*@
                @*</div>*@
                    
        </div>
    </div>


    <div class="row row-cards">

        @foreach (var item in Model)
        {

            @*<img src="~/ProductImages/thumb/@item.ImagePath" />*@
    <div class="col-sm-6 col-lg-3">

        <div class="d-flex align-items-center px-2">
            <label class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" name="example-inline-checkbox1" value="@item.Id">
                <span class="custom-control-label">Select</span>
            </label>
        </div>
        <div class="card p-3">

            

            <a style="text-align:center;" href="javascript:void(0)" class="mb-3">
                <img src="~/ProductImages/large/@item.ImagePath" alt="Photo by Nathan Guerrero" class="rounded">
                <p>@item.ImageName</p>
            </a>
            
        </div>
    </div>

        }

    </div>
    <ul class="pagination pull-left">
        <li class="page-item" ng-class="prevPageDisabled()">
            <a class="page-link" ng-click="prevPage()">Previous</a>
        </li>
        <li class="page-item" ng-repeat="n in range()"
            ng-class="{active: n+1 == currentPage}" ng-click="setPage(n)"><a class="page-link" href="#">{{n+1}}</a></li>

        <li class="page-item" ng-class="nextPageDisabled()">
            <a class="page-link" ng-click="nextPage()">Next</a>
        </li>
    </ul>
</div>



@section scripts{

<script>
    $(document).ready(function () {
        var _supplierID = '@_CurrentUser.SupplierID';
        var counting = @Model.Count()
            console.log(counting);

        if ($("#SupplierData1").val()!="") {
            if (counting <= 0) {

                toastr.warning("No Images ! Please upload");
            }
        }

        $('input:file').change(function () {
                if ($(this).val()) {
                    $('button:submit').attr('disabled', false);
                    //$("#UploadgetImageForm").submit();
                    //$('input:submit').removeAttr('disabled'); 
                }
        });

        $("#getImages").click(function () {
            $("#getImages").attr("disabled", "disabled")
            $("#getImages").find("i").addClass("fa-spin");
            $("#UploadgetImageForm").submit();
         
        });


        $("#SupplierData1").change(function () {

            //if ($.trim($(this).val()) != "") {

                $("#getImages").trigger("click");
            //}
        });


        $("#uploadImages").click(function () {
            debugger;
                $("#uploadImages").attr("disabled", "disabled")
              
                var check = $("#SupplierData1").val()
                if (_supplierID == -1)
                {
                    if ($.trim(check) == "")
                    {
                        toastr.warning("First You Select Supplier From Dropdown");
                       
                    }
                    else
                    {
                        $("#getImages").trigger('click');
                        $("#uploadImages").find("i").addClass("fa-spin");
                        $("#UploadImageForm").submit();
                    }
                }
                else {

                $("#uploadImages").find("i").addClass("fa-spin");
                $("#UploadImageForm").submit();

                }
        });
    });


   

    function RemoveCheck(id)
    {
        var _tempArray = selectedIDs;
        for (var i = 0; i < _tempArray.length; i++) {
            if(_tempArray[i]==id)
            {
                selectedIDs.splice(i, 1);
            }
        }
    }

    var selectedIDs = new Array();
    $('input:checkbox.custom-control-input').click(function () {
        if ($(this).prop('checked')) {
            selectedIDs.push($(this).val());
        }
        else {
            RemoveCheck($(this).val());
        }


        if (selectedIDs.length != 0) {
            $("#delete").show()
        }
        else {
            $("#delete").hide()
        }

    });

   
    $("#delete").click(function () {

      
        if (selectedIDs.length > 0) {


            $.ajax({
                url: "/AllImages/DeleteAll",
                data: JSON.stringify(selectedIDs),
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                success: function (result) {

                    window.location.reload();

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });

        }

    })



    $(function () {
        // Multiple images preview in browser
        var imagesPreview = function (input, placeToInsertImagePreview) {

            debugger;
            var files = $('#file1')[0].files;



            if (input.files) {
                var filesAmount = input.files.length;
                debugger;
                if (filesAmount <= 50) {
                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();

                        reader.onload = function (event) {
                            $($.parseHTML('<img style="height:50px; width:50px; margin-right:10px; margin-top:5px;">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                        }

                        reader.readAsDataURL(input.files[i]);
                    }
                }
                else {

                    toastr.warning("Only 50 Images Selected At a Time");
                    $("#uploadImages").attr("disabled", "disabled")
                }
            }

        };

        $('#file1').on('change', function () {
            imagesPreview(this, 'div.gallery');
        });
    });

  

</script>

<script src="~/Scripts/angular.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $("#SupplierData").change(function () {
            if ($.trim($(this).val()) != "") {

                GetImages($(this).val());
            }
        });


        function GetImages(ID) {
            alert(ID);
            $.get("/AllImages/GetImages?SupplierID=" + ID, function (data) {
                console.log(data);
                debugger;
                if (data.Data.length > 0) {
                    $scope.AllImages = data.Data;

                    console.log("All Images");
                    console.log(data);
                }
                else {
                    toastr.warning("");
                }
            });
        }

    });
</script>
}

<style>
    #delete {

 
        display:none;
        
    }
</style>








